
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{
    padding-top: 60px;
}
h1 {
    text-align: center;
}
.jumbotron {
    margin-top: 13px;
    text-align: center;
}

#logo {
    float:left;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
    &:hover{
        color:#fff;
    }
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;

    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style:none;

        li {
            float: left;
            margin-left: 15px;
        }
    }

    img.brand-icon {
        width: 17px;
        height: 17px;
    }
}